<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content ="width=device-width, initial-scale=1">
    <title>게시글 상세페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(function(){
            let msg = [[${msg}]];
            if(msg != null){
                alert(msg);
            }
        });
    </script>
</head>
<body>
<div class="content">
    <div class="view_head">
        <div class="category" th:text="${board.bcategory}"></div>
        <div class="content_title" th:text="${board.btitle}"></div>
        <div>
<!--            <span th:text="${board.mcname.mcname}"></span>-->
<!--            <span th:text="${board.mbId}"></span> &lt;!&ndash;회사 이름 | 작성자 아이디&ndash;&gt;-->
        </div>
        <div class="info">
<!--            <span th:text="${board.blike}"></span> ·-->
            <span th:text="${board.bview}"></span> ·
            <span th:text="${board.bcomment}"></span> ·
<!--            <span th:text="${}"></span> &lt;!&ndash;시간 넣을 곳&ndash;&gt;-->
        </div><!--(따봉수) 조회수 댓굴수-->
    </div>
    <div>
    <div class="content" th:text="${board.bcontent}"></div>
    <div>
        <button id="upbtn">수정</button>
        <button id="delbtn">삭제</button>
        <button id="backbtn">뒤로가기</button>
    </div>
</div>

<!-- 첨부파일 출력 부분-->
<div>
    <div class="">FILES</div>
<!--    <div class="d_content p-85 file_h" style="overflow: auto;">-->
        <th:block th:if="${#lists.isEmpty(bfList)}">
            첨부된 파일이 없습니다.
        </th:block>
        <th:block th:unless="${#lists.isEmpty(bfList)}">
            <th:block th:each="bf:${bfList}">
                <a th:href="@{download(bfsysname=${bf.bfsysname},bforiname=${bf.bforiname})}">
                    <span class="file-title" th:text="${bf.bforiname}"></span>
                </a>
            </th:block>
        </th:block>
    </div>
</div>
<!--  댓글 작성 부분  -->
    <div class="reply">
        <form id="replyfrm" class="reply_form">
<!--      작성자 cname과 아이디 저장되어야 함... 근데 어떻게 작성해야할지 모르겠음...      -->
            <input type="hidden" name="mcid" value="test">
            <input type="hidden" name="mcname" value="testcomp">
            <input type="hidden" name="bcno" th:value="${board.bno}">
            <input id="replyup" type="text" name="ccontent" placeholder="내용을 입력해주세요" >
        </form>
    </div>
<!--  작성된 댓글 출력 부분  -->
    <div class="comment">
        <div class="info">
            <span th:text="${comment.mcname}"></span> ·
            <span th:text="${comment.mcid.mid}"></span> ·
<!--            <span th:text="${}"></span>-->
        </div>
    </div>
</body>
<script th:inline="javascript">
    /*
<!--    //뒤로가기 버튼-->
<!--    $("#backbtn").click(function () {-->
<!--        location.href = "/?pageNum=" + [[${session.pageNum}]];-->
<!--    });-->
<!--    $("#upbtn").click(function (){-->
<!--        let pw = prompt("비밀번호를 입력하세요");-->
<!--        console.log(pw);-->
<!--        if (pw == null || pw == ""){-->
<!--            alert("비밀번호를 입력하지 않았습니다");-->
<!--            return;-->
<!--        };-->
<!--        if (pw == [[${board.bpwd}]]){-->
<!--            location.href = "updateFrm?bnum=" + [[${board.bnum}]];-->
<!--        }else {-->
<!--            alert("비밀번호가 일치하지 않습니다");-->
<!--        }-->
<!--    });-->

<!--    //게시글 삭제-->
<!--    $("#delbtn").click(function (){-->
<!--        let pw = prompt("비밀번호를 입력하세요")-->
<!--        if (pw == null || pw ==""){-->
<!--            alert("비밀번호를 입력하지 않았습니다");-->
<!--            return;-->
<!--        }-->
<!--        if (pw == [[${board.bpwd}]]){-->
<!--            location.href = "delete?bnum=" + [[${board.bnum}]];-->
<!--        } else {-->
<!--            alert("비밀번호가 일치하지 않습니다")-->
<!--        }-->
<!--    });-->
*/


    /////////////////////////////////////////////////////////////



    $("#replyup").on("keyup", function () {
        const rp = $("#replyfrm").serialize();

        $.ajax({
            url: "",
            type: "post",
            data: rp,
            success: function (result) {

            },
            error: function (error) {
                console.log(error);
            }
        });
    })
</script>
</html>